* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;
  flex-wrap: wrap;
}

.container h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: rgb(67, 67, 117);
}

.leftside {
  width: 30%;
}

.rightside {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  position: relative;
  width: 350px;
  height: 300px;
  background: rgba(255, 255, 255, 0.05);
  margin: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card .description {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .description {
  opacity: 1;
}

.card .title {
  font-size: larger;
  font-weight: bold;
}

.card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 250px;
    height: 300px;
    margin: 10px;
  }

  .card img {
    width: 120px;
    height: 120px;
  }
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .container {
    flex-wrap: wrap;
  }

  .leftside {
    width: 100%;
  }

  .rightside {
    width: 100%;
    margin-top: 20px;
  }

  .card-row {
    width: 100%;
    margin-left: 0;
  }
}
